.users-page-container > .users-page-nav {
    display: flex;
    margin: 10px 0;
}

.users-page-container > .users-page-nav > * {
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.users-page-container > .users-page-nav > *:hover {
    background-color: var(--color-highlight);
    color: white;
}

.users-page-container > .users-page-nav > *.active {
    background-color: var(--color-highlight);
    color: white;
}

.users-page-container > table {
    width: 100%;
}

.users-page-container > table > thead > tr > :first-child {
    width: 40px;
}

.users-page-container > table > tbody > tr > :first-child {
    text-align: center;
}

.users-page-container > table td {
    border: 1px solid #bbb;
}

.add-new {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: var(--color-highlight);
}
