.App {
    display: flex;
}

.App > main {
    flex-grow: 1;
    margin-left: 225px;
}

@media screen and (max-width: 600px) {
    .App > main {
        margin: 0 5px;
    }

    .App > :first-child > aside {
        visibility: collapse;
    }

    .App > :first-child > aside#menuOpen {
        visibility: visible;
    }
}
