.App {
    display: flex;
}

.App > main {
    flex-grow: 1;
    margin-left: 225px;
}

@media screen and (max-width: 600px) {
    .App > main {
        margin: 0;
    }

    .App > main > :last-child {
        margin: 55px 5px 5px 5px;
    }
}
