.dashboard-container > .dashboard-summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

.dashboard-container > .dashboard-summary > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.dashboard-summary > .total-admin {
    background-color: #007090;
}

.dashboard-summary > .total-users {
    background-color: #007090;
}

.dashboard-summary > .total-barang {
    background-color: #01a7c2;
}

.dashboard-summary > .total-penjualan {
    background-color: #01a7c2;
}

.dashboard-container .icon {
    width: 50px;
    height: 50px;
}
