.header {
    color: var(--color-highlight);
    display: flex;
}

.header > h2 {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header > .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > .user-icon > :first-child {
    display: flex;
    align-items: center;
}

.header > .user-icon > :first-child > :first-child {
    cursor: pointer;
    background-color: black;
    padding: 7.5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    color: var(--color-highlight);
    margin: 5px;
}

.header > .menu-bar-container {
    display: none;
    align-items: center;
    padding: 0 10px;
}

.header > .menu-bar-container > .menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header > .menu-bar-container > .menu-bar > span {
    margin: 0 5px;
    background-color: black;
    border: 2px solid black;
    width: 25px;
    margin-top: 5px;
    transition: transform 0.2s ease-in-out;
}

.header > .menu-bar-container > .menu-bar > span:first-child {
    margin-top: 0;
}

.header > .menu-bar-container > .menu-bar > :first-child.open {
    transform: translateY(9px);
}

.header > .menu-bar-container > .menu-bar > :last-child.open {
    transform: translateY(-9px);
}

@media screen and (max-width: 600px) {
    .header {
        padding: 5px;
        width: 100vw;
        position: fixed;
        background-color: var(--color-bg);
    }

    .header > .menu-bar-container {
        display: flex;
    }
}
