aside {
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside ul {
    margin-top: 10px;
}

aside ul > * {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

aside ul > *:hover {
    background-color: #b8e1ff;
}

aside > .logout > button {
    text-align: start;
    padding-left: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    font-size: 1em;
}

aside > .logout > button:hover {
    background-color: #b8e1ff;
}
