.detail-sales-item > .barang-container > .barang-item {
    display: flex;
}

.detail-sales-item > .barang-container > .barang-item img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.barang-item-info {
    display: flex;
    flex-grow: 1;
}

.barang-item-info > .barang-item-detail {
    margin-left: 5px;
    flex-grow: 1;
}

.barang-item-info > .barang-item-qty {
    text-align: center;
}

.barang-item-info > .barang-item-total {
    margin-right: 5px;
    margin-left: 15px;
}

.detail-sales-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.detail-sales-action > .back {
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--color-highlight);
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
}

.detail-sales-action > .delete {
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
}
