.card {
    display: flex;
}

.card-image {
    margin-right: 5px;
}

.card-image > img {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-body > .deskripsi {
    flex-grow: 1;
}

.card-action {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.card-action > * {
    text-decoration: none;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.card-action > .edit-btn {
    border: 2px solid #f0ad4e;
    color: #f0ad4e;
}

.card-action > .edit-btn:hover {
    background-color: #f0ad4e;
    color: white;
}

.card-action > .delete-btn {
    border: 2px solid #d9534f;
    color: #d9534f;
}

.card-action > .delete-btn:hover {
    background-color: #d9534f;
    color: white;
}

.add-new {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    background-color: var(--color-highlight);
}

@media screen and (max-width: 600px) {
    .card {
        flex-direction: column;
    }

    .card-image {
        text-align: center;
    }
}
